includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	bootstrapFiles:
		# PHPStan bootstrap file.
		- tests/phpstan/bootstrap.php
	paths:
		- inc/
		- uninstall.php
