.wptcmf-options-page img {
	display:inline-block;
	vertical-align:middle;
	width: 50px;
	margin-right:1em;
}

.wptcmf-options-page h2 {
	display:inline-block;
	vertical-align:middle;
}

.wptcmf-footer-link {
	margin-right:10px;
	text-decoration: none;
}

.tools_page_wpt-custom-mo-file .form-table:nth-of-type(2) th[scope="row"]:not(.check-column) {
	display:none;
}

.wptcmf-button:before {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 3px;
	font-family: "dashicons";
	font-size:20px;
}

.wptcmf-button-deactivate:before {
	content: "\f523";
}

.wptcmf-button-activate:before {
	content: "\f522";
}

.wptcmf-button-delete:before {
	content: "\f182";
}
